<header>
	<div class="content-menu">
		<div class="row expanded">
			<div class="small-12 columns">
				<div class="content-right float-left">

					<ul class="menu">
						<li><a href="">Paz +</a></li>
						<li><%= link_to "Pregunta", categories_path %></li>
						<li><%= link_to "Respuesta", questions_path %></li>
					</ul>
				</div>
				<div class="content-left float-right">
					<ul class="menu">
						<li><a href="">Ingresar</a></li>
						<li><a href="">Salir</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="content">
	<div class="row expanded">
		<div class="small-4 columns">
			<div class="dash-perfil">
				<p class="title"><b>Perfil de progreso</b></p>
				<div class="content-img">
					<img src="" alt="">
				</div>
				<div class="content-perfil">
					<p><b>tu avance</b></p>
					<p> Aqui tu barra de medida que indica que tanto has avanzado</p>
				</div>
				<div class="content-bar">
					<div class="secondary progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
  					<div class="progress-meter" style="width: 25%"></div>
					</div>
				</div>
			</div>

		</div>
		<div class="small-8 columns">
			<div class="dash">
				<div class="content-arbol">
					<ul class=" level" style = " margin-bottom: 1rem;">
						<li>
							<a href="">
								<div class="box">
									<img src="http://placehold.it/10x10">
								</div>
								<div class="content-info">
									<p>Correo Electronico</p>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="box">
									<img src="http://placehold.it/10x10">
								</div>
								<div class="content-info">
									<p>Convivencia ciudadana</p>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="box">
									<img src="http://placehold.it/10x10">
								</div>
								<div class="content-info">
									<p>Responsabildad ciudadana</p>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="box">
									<img src="http://placehold.it/10x10">
								</div>
								<div class="content-info">
									<p>Correo Electronico</p>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="box">
									<img src="http://placehold.it/10x10">
								</div>
								<div class="content-info">
									<p>Correo Electronico</p>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
