<div class="content-principal">
	<div class="row">
		<div class="small-12 columns">
			<div class="row" data-equalizer>
				<div class="small-4 columns">
					<div class="content-copy" data-equalizer-watch>
						<img src="img/guerra.png" alt="">
						<p>Tu camino de la guerra</p>
					</div>
				</div>
				<div class="small-4 columns">
					<div class="content-copy" data-equalizer-watch>
						<h1>A</h1>
					</div>
				</div>
				<div class="small-4 columns">
					<div class="content-copy" data-equalizer-watch>
						<img src="img/paz.jpg" alt="">
						<p> la sociedad</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
