<div class="content-title-pz">
	<h1>
		Tu camino
	</h1>
	<h1>hacia una sociedad en paz</h1>
</div>
<div class="content-arbol">
	<ul class=" level" style = " margin-bottom: 1rem;">
    <% @categories.each do |category| %>
		<li>
      <% if category.private == "1" %>
        <%= link_to category  do %>
          <div class="box">
            <img src="http://placehold.it/10x10">
          </div>
          <div class="content-info">
            <p><%= category.name %></p>
          </div>
          <% end %>
          <% else %>
          <div class="box">
            <img src="http://placehold.it/10x10">
          </div>
          <div class="content-info">
            <p><%= category.name %></p> <br>
            <span>bloqueado</span>
          </div>
      <% end %>
		</li>
		<% end %>
	</ul>
</div>
